<?xml version="1.0" encoding="UTF-8"?>

<web-app xmlns="http://java.sun.com/xml/ns/javaee"
         xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
         xsi:schemaLocation="http://java.sun.com/xml/ns/javaee http://java.sun.com/xml/ns/javaee/web-app_2_5.xsd"
         version="2.5">
  <!-- Google Guice + JBoss RESTEasy integration -->
  <context-param>
    <param-name>resteasy.guice.modules</param-name>
    <param-value>com.juiceanalytics.nectar.config.AppModule</param-value>
  </context-param>

  <listener>
    <listener-class>org.jboss.resteasy.plugins.guice.GuiceResteasyBootstrapServletContextListener</listener-class>
  </listener>

  <!-- Google Guice integration -->
  <listener>
    <listener-class>com.juiceanalytics.nectar.GuiceContextListener</listener-class>
  </listener>

  <!-- Apache Shiro integration -->
  <filter>
    <filter-name>shiroFilter</filter-name>
    <filter-class>org.apache.shiro.web.servlet.IniShiroFilter</filter-class>
  </filter>

  <filter-mapping>
    <filter-name>shiroFilter</filter-name>
    <url-pattern>/*</url-pattern>
  </filter-mapping>

  <!-- JBoss RESTEasy integration -->
  <filter>
    <filter-name>restFilter</filter-name>
    <filter-class>org.jboss.resteasy.plugins.server.servlet.FilterDispatcher</filter-class>
    <init-param>
      <param-name>javax.ws.rs.Application</param-name>
      <param-value>com.juiceanalytics.nectar.RestApiApplication</param-value>
    </init-param>
  </filter>

  <filter-mapping>
    <filter-name>restFilter</filter-name>
    <url-pattern>/*</url-pattern>
  </filter-mapping>

  <!-- Google Guice integration -->
  <filter>
    <filter-name>guiceFilter</filter-name>
    <filter-class>com.google.inject.servlet.GuiceFilter</filter-class>
  </filter>

  <filter-mapping>
    <filter-name>guiceFilter</filter-name>
    <url-pattern>/*</url-pattern>
  </filter-mapping>

  <security-constraint>
    <web-resource-collection>
      <web-resource-name>Restricted Admin Access</web-resource-name>
      <url-pattern>/admin/*</url-pattern>
    </web-resource-collection>
    <auth-constraint>
      <role-name>admin</role-name>
    </auth-constraint>
  </security-constraint>
</web-app>
